@each $size, $breakpoint in $sizes {
  @media (min-width: $breakpoint) {
    .#{$size}\:q {
      @each $space, $value in $spaces {
        $x: map-get($value, 'x');
        $y: map-get($value, 'y');

        // Margin
        &-ma-#{$space} {
          margin: $y $x;
        }

        &-mx-#{$space} {
          margin-left: $x;
          margin-right: $x;
        }

        &-my-#{$space} {
          margin-top: $y;
          margin-bottom: $y;
        }

        &-mt-#{$space} {
          margin-top: $y;
        }

        &-mr-#{$space} {
          margin-right: $x;
        }

        &-mb-#{$space} {
          margin-bottom: $y;
        }

        &-ml-#{$space} {
          margin-left: $x;
        }

        // Padding
        &-pa-#{$space} {
          padding: $y $x;
        }

        &-px-#{$space} {
          padding-left: $x;
          padding-right: $x;
        }

        &-py-#{$space} {
          padding-top: $y;
          padding-bottom: $y;
        }

        &-pt-#{$space} {
          padding-top: $y;
        }

        &-pr-#{$space} {
          padding-right: $x;
        }

        &-pb-#{$space} {
          padding-bottom: $y;
        }

        &-pl-#{$space} {
          padding-left: $x;
        }
      }

      // Auto
      &-mt-auto,
      &-my-auto {
        margin-top: auto;
      }

      &-mr-auto,
      &-mx-auto {
        margin-right: auto;
      }

      &-mb-auto,
      &-my-auto {
        margin-bottom: auto;
      }

      &-ml-auto,
      &-mx-auto {
        margin-left: auto;
      }
    }
  }
}
